.img {
  position: relative;
  background-image: url(https://www.businessdestinations.com/wp-content/uploads/2019/07/Seoul.jpg);
  width: 100vw;
  height: 623px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.img-cover {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}
.h1 {
  margin: 0;
}
.img .profile-title {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  font-size: 30px;
  color: #fff;
  text-align: center;
  text-shadow: 0 2px 6px #000;
  text-transform: uppercase;
}
.img .stats {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  color: #fff;
  padding: 0 10px;
  text-align: center;
  text-shadow: 0 2px 6px #000;
  margin: 0;
  display: flex;
}
.p {
  margin: 0;
}
.stat {
  display: block;
  margin: 100px;
  font-weight: 400;
}
.stat-title {
  font-size: 15px;
}
.stat-value {
  font-size: 40px;
}
.input-group {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  display: flex;
}
.input-group .pt-input {
  position: relative;
  width: 500px;
  padding: 20px;
}
.input-group .pt-btn {
  position: relative;
  padding: 20px;
}
.left{
  display: flex;
  max-width: 80%;
}
